@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --text-32: 32px;
  --color-background: #f7f8fb;
  --font-heading: var(--font-heading);
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@layer components {
  .yc-button.outline::before {
    @apply border;
  }
}
/* Customize gravity ui */
.g-select-control:not(.g-select-control_disabled):not(.g-select-control_no-active):active,
.yc-button:active {
  transform: scale(1);
}
@layer base {
  * {
    font-size: 16px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    *::placeholder {
      font-size: 14px;
    }
  }
  /* Custom scrollbar styling. Thanks @pranathiperii. */
  pre::-webkit-scrollbar {
    width: 5px;
  }
  pre::-webkit-scrollbar-track {
    background: transparent;
  }
  pre::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 5px;
  }
  pre {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 16px;
  max-width: 1232px;
}